 /* -------------------------------- 

Primary style

-------------------------------- */

 html, body{
   overflow-x: hidden;
 }

 body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color:#333333;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway", Helvetica, Arial, sans-serif;
 }

 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

  /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

  /* HEADER */
 header {
   color: #303030;
   background: #F7DC73;
   background-image: linear-gradient(-180deg, rgba(247,220,115,0.50) 0%, rgba(233,127,127,0.50) 100%);
 }

  header nav {
   padding:1em 0;
 }
 
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   color:#34495E;
   background: #5F5A43;
 }
 header nav ul > li > a {
   color:#303030;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#FFF;
   background: #5F5A43;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

  /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #5F5A43;
   border: 2px solid #fff;
   box-shadow: 0px 2px 0px 0px #5F5A43;
 }



/* -------------------------------- 

media queries

-------------------------------- */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

/* Larger than desktop */
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }

/* Larger than Desktop HD */
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media screen and (min-width:1600px) {}

 @media screen and (min-width: 1920px) {}