 /* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 html, body{
   overflow-x: hidden;
 }

 body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color:#333333;
   width: 100%
   margin: auto;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway", Helvetica, Arial, sans-serif;
 }

 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }

 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

a.cd-select {
  text-decoration: none;
  /* TRY FREE: */
font-family: Raleway-Black;
font-size: 17px;
color: #FFFFFF;
letter-spacing: 3.4px;
}


img {
  max-width: 100%;
}


.right {
    float: right;
    width: 350px;
    padding: 10px;
}


.center{
    float: center;
    width: 350px;
    padding: 10px;
}
.left {
    float: left;
    width: 350px;
    padding: 10px;
}


  /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

  /* HEADER */

 #header {
   color: #303030;
   /* base: */
   /* base: */
/* base: */
background-image: linear-gradient(-180deg, rgba(247,220,115,0.50) 0%, rgba(243,178,33,0.71) 100%);padding-bottom: 30px;}



 #header h1 {
font-family: Raleway-Bold;
font-size: 45px;
color: #303030;
letter-spacing: 4.8px;
line-height: 50px;
 }

#header p {
font-family: OpenSans;
font-size: 30px;
color: #303030;
letter-spacing: 3px;
line-height: 50px;
}


  #header nav {
   padding:1em 0;
 }

 #header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 #header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 #header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #303030;
   border-radius: 4px;
 }
 #header nav ul > li.btn-outline:hover {
   color:#34495E;
   background: #F7DC73;
 }
 #header nav ul > li > a {
   color:#303030;
   text-decoration: none;
   /* Sign Up - It’s FREE: */
font-family: Raleway-SemiBold;
font-size: 22px;
color: #303030;
letter-spacing: 0.69px;
 }

 #header nav ul > li.btn-outline:hover > a {
   color:#303030;
 }

 #header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 #header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 #header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 #header .hero img {
   display: block;
   margin:3em auto 0;
 }



/*Responsive Navigation*/
@media (max-width:992px) {
  #header {
    position: relative;
  }
  .bloop {
    position: absolute;
    right: 10px;
  }
}

@media (max-width:443px) {
  #header ul {
    top: 23px;
    font-size: 14px;
  }
  .btn-outline {
    display: none;
  }
}

/*Hedaer Img Responsive fix*/

@media (max-width:700px) {
  #header .hero img {
    width: 80%;
  }
}

  /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #5F5A43;
   border: 2px solid #fff;
   box-shadow: 0px 2px 0px 0px #5F5A43;
 }


 .btn:hover {
   background: #F7DC73;
   color: #303030;
 }


  .btn:hover a {
   color:#303030;
}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}



.photos {
  /* img-28: */
background: #5F5A43;
   text-align: center;
   display:block;
   position:relative;

}


/* -------------------------------- 
Action
-------------------------------- */

  #action {
    position: relative;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    background: #5F5A43 url("images/banner.svg") bottom center no-repeat;
    padding: 5em 0 5em 0;
    margin: 0;
    background-size: 125% auto;
  }

      #action h2 {
        text-align: center;
        /* Still taking screens: */
font-family: Raleway-Bold;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;
        
      }


    #action h3 {
      margin: 0;
      text-align: center;
      /* Now you have a way t: */
font-family: OpenSans-Semibold;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;

    }

    #action p {
      padding-left: 20px;
      padding-right: 20px;
      display: inline;
      margin: 0;
      text-align: center;
      float: center;
      /* Now you have a way t: */
font-family: OpenSans-Semibold;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 60px;

    }

        #action a {
      margin: 0;
      align: center;
      float: center;
      /* Now you have a way t: */
font-family: OpenSans-Semibold;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 60px;

    }

/* -------------------------------- 

Benefits
-------------------------------- */




.benefits {
   text-align: center;
   display:block;
   position:relative;
/* base: */
background-image: linear-gradient(-180deg, rgba(247,220,115,0.50) 0%, rgba(231,200,80,0.50) 100%);
 }



.benefits h3 {
 /* Make notes from any : */
opacity: 0.8;
font-family: OpenSans-Semibold;
font-size: 20px;
color: #5F5A43;
letter-spacing: 1px;
line-height: 50px;
text-align: center;
float: center;

}

.benefits h4 {
font-family: Raleway-Bold;
font-size: 18px;
color: #303030;
letter-spacing: 4.31px;
line-height: 30px;
}



.benefits p {
 /* Make notes from any : */
/* Shareable real-time : */
opacity: 0.8;
font-family: OpenSans-Light;
font-size: 15px;
color: #000000;
letter-spacing: 0px;
text-align: center;
}


 .benefits ul {
   magin: 0 auto;
   padding:4em 0;
 }

 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }

 .benefits i {
   font-size:30px;
   margin:0;
   vertical-align: middle;
color: #303030;
line-height: 60px;
 }

 .benefits h2 {
   /* ALL YOUR IDEAS ANYWH: */
font-family: Raleway-Bold;
font-size: 30px;
color: #303030;
letter-spacing: 8.21px;
line-height: 50px;
 }

/* Banner */

  #banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    background: #5F5A43 url("images/banner.svg") bottom center no-repeat;
    padding: 5em 0 5em 0;
    margin: 0;
    background-size: 125% auto;
  }

      #banner h2 {
        width: 700px;
        text-align: left;
        /* Still taking screens: */
font-family: Raleway-Bold;
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;
        
      }


      #banner h3 {
        width: 700px;
        text-align: left;
font-family: Raleway-Bold;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;
opacity: 0.9;
        
      }


    #banner p {
      margin: 0;
      text-align: left;
      width: 600px;
      float: left;
      /* Now you have a way t: */
opacity: 0.8;
font-family: OpenSans-Semibold;
font-size: 25px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;

    }


  #bannerRight {
    position: relative;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
/* img-28: */
/* Sketch doesnt export pattern fills at this point */
background: rgba(247,220,115,0.80);

    padding: 5em 0 5em 0;
    margin: 0;
    background-size: 125% auto;
  }

      #bannerRight h2 {
        width: 600px;
        float: right;
        text-align: left;
        /* Still taking screens: */
font-family: Raleway-Bold;
font-size: 35px;
letter-spacing: 0px;
line-height: 50px;
color: #303030;

        
      }

    #bannerRight p {
      margin: 0;
      text-align: left;
      width: 600px;
      float: right;
      /* Now you have a way t: */
opacity: 0.8;
font-family: OpenSans-Semibold;
font-size: 25px;
letter-spacing: 0px;
line-height: 50px;
color: #303030;

    }

      #bannerRight h3 {
        width: 600px;
        float: right;
        text-align: left;
font-family: Raleway-Bold;
font-size: 30px;
color: #303030;
letter-spacing: 0px;
line-height: 50px;
opacity: 0.9;
        
      }




/* -------------------------------- 

Main Components 

-------------------------------- */

.pricing {  
    padding: 5em 0 5em 0;
    margin: 0; 
   text-align: center;
   display:block;
   position:relative;
/* base: */
background-image: linear-gradient(-180deg, rgba(247,220,115,0.50) 0%, rgba(231,200,80,0.50) 100%);
 }


.pricing h2 {
    text-align: center;
line-height: 50px;
/* BEST PRODUCTIVITY TO: */
font-family: Raleway-Bold;
font-size: 25px;
color: #303030;
letter-spacing: 4.8px;
        
      }


    .pricing p {
      margin: 0;
      text-align: center;
opacity: 0.8;
font-family: OpenSans-Semibold;
font-size: 20px;
color: #303030;
letter-spacing: 0px;
line-height: 50px;
letter-spacing: 1px;

    }



.cd-header {
  height: 100px;
  line-height: 170px;
  position: relative;
}
.cd-header h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 160px;
    line-height: 280px;
  }
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-pricing-container {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-container {
    margin: 6em auto;
  }
  .cd-pricing-container.cd-full-width {
    width: 100%;
    max-width: none;
  }
}

.cd-pricing-list {
  margin: 2em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}
.cd-pricing-list > li::after {
  /* subtle gradient layer on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #FFFFFF, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}
.cd-pricing-list > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-list {
    margin: 3em 0 0;
  }
  .cd-pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-pricing-list > li {
    width: 33.3333333333%;
    float: left;
  }
  .cd-pricing-list > li::before {
    /* separator between pricing tables - visible when number of tables > 3 */
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #b1d6e8;
  }
  .cd-pricing-list > li::after {
    /* hide gradient layer */
    display: none;
  }
  .cd-pricing-list > li.cd-popular {
    box-shadow: inset 0 0 0 3px #e97d68;
  }
  .cd-pricing-list > li.cd-popular::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
  .cd-pricing-list > li.cd-popular + li::before {
    /* hide table separator for tables following .cd-popular table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li, .cd-has-margins .cd-pricing-list > li.cd-popular {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-secondary-theme .cd-pricing-list > li {
    background: #3aa0d1;
    background: -webkit-linear-gradient( bottom , #3aa0d1, #3ad2d1);
    background: linear-gradient(to top, #3aa0d1, #3ad2d1);
  }
  .cd-secondary-theme .cd-pricing-list > li.cd-popular {
    background: #e97d68;
    background: -webkit-linear-gradient( bottom , #e97d68, #e99b68);
    background: linear-gradient(to top, #e97d68, #e99b68);
    box-shadow: none;
  }
  .cd-pricing-list:nth-of-type(1)::before {
    /* hide table separator for the first table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
    border-radius: 4px 4px 6px 6px;
  }
  .cd-has-margins .cd-pricing-list > li:last-of-type {
    margin-right: 0;
  }
  .cd-has-margins .cd-pricing-list > li::before {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .cd-full-width .cd-pricing-list > li {
    padding: 2.5em 0;
  }
}

@media only screen and (min-width: 768px) {
  .cd-popular .cd-pricing-wrapper > li::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
}
.cd-pricing-header {
  position: relative;
  z-index: 1;
  height: 80px;
  padding: 1em;
  pointer-events: none;
  background-color: #3aa0d1;
  color: #FFFFFF;
}

.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.cd-popular .cd-pricing-header {
  background-color: #e97d68;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-header {
    height: auto;
    padding: 1.9em 0.9em 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent;
  }
  .cd-popular .cd-pricing-header {
    color: #e97d68;
    background-color: transparent;
  }
  .cd-secondary-theme .cd-pricing-header {
    color: #FFFFFF;
  }
  .cd-pricing-header h2 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.cd-currency, .cd-value {
  font-size: 3rem;
  font-weight: 300;
}

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
.cd-popular .cd-duration {
  color: #f3b6ab;
}
.cd-duration::before {
  content: '/';
  margin-right: 2px;
}

@media only screen and (min-width: 768px) {
  .cd-value {
    font-size: 7rem;
    font-weight: 300;
  }

  .cd-currency, .cd-duration {
    color: rgba(23, 61, 80, 0.4);
  }
  .cd-popular .cd-currency, .cd-popular .cd-duration {
    color: #e97d68;
  }
  .cd-secondary-theme .cd-currency, .cd-secondary-theme .cd-duration {
    color: #2e80a7;
  }
  .cd-secondary-theme .cd-popular .cd-currency, .cd-secondary-theme .cd-popular .cd-duration {
    color: #ba6453;
  }

  .cd-currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
  }

  .cd-duration {
    font-size: 1.4rem;
  }
}
.cd-pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-body {
    overflow-x: visible;
  }
}

.cd-pricing-features {
  width: 600px;
}
.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pricing-features li {
  width: 100px;
  float: left;
  padding: 1.6em 1em;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cd-pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-features {
    width: auto;
  }
  .cd-pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
  }
  .cd-popular .cd-pricing-features li {
    margin: 0 3px;
  }
  .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: rgba(23, 61, 80, 0.06);
  }
  .cd-pricing-features em {
    display: inline-block;
    margin-bottom: 0;
  }
  .cd-has-margins .cd-popular .cd-pricing-features li, .cd-secondary-theme .cd-popular .cd-pricing-features li {
    margin: 0;
  }
  .cd-secondary-theme .cd-pricing-features li {
    color: #FFFFFF;
  }
  .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: transparent;
  }
}

.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* on mobile it covers the .cd-pricing-header */
  height: 80px;
  width: 100%;
}
.cd-pricing-footer::after {
  /* right arrow visible on mobile */
  content: '';
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/cd-icon-small-arrow.svg);
}
@media only screen and (min-width: 768px) {
  .cd-pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
  }
  .cd-pricing-footer::after {
    /* hide arrow */
    display: none;
  }
  .cd-has-margins .cd-pricing-footer {
    padding-bottom: 0;
  }
}

.cd-select {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  /* hide button text on mobile */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
@media only screen and (min-width: 768px) {
  .cd-select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 3em;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #0c1f28;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .no-touch .cd-select:hover {
    background-color: #878061;
  }
  .cd-popular .cd-select {
    background-color: #303030;
  }
  .no-touch .cd-popular .cd-select:hover {
   background-color: #878061;
  }
  .cd-secondary-theme .cd-popular .cd-select {
    background-color: #878061;
  }
  .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    background-color: #878061
  }
  .cd-has-margins .cd-select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
  }
}

 .small {
   font-size: 5px;
   color: #FEFEFE;
   line-height: 10px;
   font-style:italic;
   font-family: OpenSans-Light;
 }

 /* TESTIMONIALS */
 .testimonials {
   text-align: center;
   position: relative;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
/* base: */
background: #EEE1A9;
 padding: 5em 0 5em 0;
    margin: 0;
    background-size: 125% auto;
 }
 .testimonials h2 {
        text-align: center;
letter-spacing: 0px;
line-height: 50px;
           opacity: 0.9;

           /* BEST PRODUCTIVITY TO: */
font-family: Raleway-Bold;
font-size: 24px;
color: #303030;
letter-spacing: 4.8px;
      }


 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#303030;
   opacity: 0.8;
   text-align: left;
   position: relative;
   padding:25px;
   width:auto;
   margin:0;
   /* “Notem is hands down: */
font-family: OpenSans-SemiboldItalic;
font-size: 32px;
letter-spacing: -0.89px;
line-height: 50px;
 }


  .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: center;
   display: inline-block;
   margin:30px 10px 0 0;
 }
 .testimonials p.name {
     color:#303030;
   float: center;
   display: inline-block;
   text-align: left;
   margin-top: 30px;
   font-family: OpenSans-Semibold;
font-size: 15px;
letter-spacing: -0.89px;
 }
 /* FOOTER*/
 #footer {
   background-color: #CDCAC0;
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 #footer p, #footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 #footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 #footer nav ul li a {
   color:#303030;
   text-decoration: none;
 }
 #footer .right-footer-block {
   background-color: #CDCAC0;
 }
 #footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

@media (min-width: 992px){
   #footer{
     background-color: #CDCAC0;
     height: 100px;
   }
   #footer p, #footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   #footer .right-footer-block {
     background-color: ##CDCAC0;
   }
   #footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }
/* -------------------------------- 

media queries

-------------------------------- */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

/* Larger than desktop */
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }

/* Larger than Desktop HD */
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media screen and (min-width:1600px) {}

 @media screen and (min-width: 1920px) {}